---
layout: default
---

<h1 class="post-title">Oops. This is embarassing...</h1>
<h2>You probably stumbled upon a broken link.</h2>
<p>If it doesn't, start over by one of the following pages:</p>
<ul>
  <li><a href="/">Blog</a></li>
  {% for page in site.pages %} {% if page.title %}
  <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
  {% endif %} {% endfor %}
</ul>

<script>
  (() => {
    const checkBrokenLazyLoadLink = /^\/(lazyload\/|lazyload$)/g;
    const isBrokenLazyLoadLink = checkBrokenLazyLoadLink.test(window.location.pathname);
    if (!isBrokenLazyLoadLink) return; 

    const title = document.querySelector("h1");
    const subtitle = document.querySelector("h2");
    title.innerHTML = "Hold on!";
    subtitle.innerHTML = "I'm trying and fixing this broken link...";
    window.location.pathname = window.location.pathname.replace("/lazyload", "/vanilla-lazyload");
  })();
</script>
