<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-26756203-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "UA-26756203-1", {
        custom_map: {
            dimension1: "page_load_time_tier",
            dimension2: "page_render_time_tier",
            metric1: "page_load_time",
            metric2: "page_render_time"
        }
    });

    // ---------------------------

    const trackCustomValues = data => {
        gtag("event", "performance_data", data);
    };

    const get = key => JSON.parse(localStorage.getItem(key));

    const set = (key, value) => {
        localStorage.setItem(key, JSON.stringify(value));
    };

    class Timer {
        constructor({ bounds, _localStorageKey }) {
            this.bounds = bounds;
            this._localStorageKey = _localStorageKey;
            this.storedTimes = get(this._localStorageKey) || [];
        }

        _timeDifference(from, to, perfTiming = window.performance.timing) {
            return perfTiming[to] - perfTiming[from];
        }

        _calculateAverage(arr) {
            return arr.reduce((a, b) => a + b, 0) / arr.length;
        }

        _persistStoredTimes() {
            set(this._localStorageKey, this.storedTimes);
        }

        _getTier() {
            const average = this._calculateAverage(this.storedTimes);
            return this.bounds.find(bound => average < bound.time).tier;
        }

        resetStoredTimes() {
            this.storedTimes = [];
            this._persistStoredTimes();
        }

        updateStoredTimes() {
            this.storedTimes.push(this.time);
            this._persistStoredTimes();
        }
    }

    class PageLoadTime extends Timer {
        constructor() {
            super({
                bounds: [
                    { time: 2500, tier: "Fast" },
                    { time: 6500, tier: "Average" },
                    { time: Infinity, tier: "Slow" }
                ],
                _localStorageKey: "GaPerf.SessionPageLoadTimes"
            });
        }

        calculate() {
            this.time = this._timeDifference("navigationStart", "loadEventEnd");
        }

        track() {
            trackCustomValues({
                page_load_time: this.time,
                page_load_time_tier: this._getTier()
            });
        }
    }

    class RenderTime extends Timer {
        constructor() {
            super({
                bounds: [
                    { time: 1000, tier: "Fast" },
                    { time: 2000, tier: "AverageFast" },
                    { time: 3000, tier: "AverageSlow" },
                    { time: Infinity, tier: "Slow" }
                ],
                _localStorageKey: "GaPerf.SessionRenderTimes"
            });
        }

        calculate() {
            this.time = this._timeDifference("domLoading", "domComplete");
        }

        track() {
            trackCustomValues({
                page_render_time: this.time,
                page_render_time_tier: this._getTier()
            });
        }
    }

    const THIRTY_MINS_IN_MS = 1800000;

    class Session {
        constructor() {
            this._localStorageKey = "GaPerf.LastPageViewTime";
        }

        hasExpired() {
            const currentTimestamp = Date.now();
            const lastTimestamp = get(this._localStorageKey);
            return currentTimestamp - lastTimestamp > THIRTY_MINS_IN_MS;
        }

        refresh() {
            set(this._localStorageKey, Date.now());
        }
    }

    const waitFor = (object, property, interval, callback) => {
        const checkInterval = setInterval(() => {
            if (!object[property]) {
                return;
            }
            clearInterval(checkInterval);
            callback();
        }, interval);
    };

    const pageLoadTime = new PageLoadTime();
    const renderTime = new RenderTime();
    const session = new Session();

    if (session.hasExpired()) {
        pageLoadTime.resetStoredTimes();
        renderTime.resetStoredTimes();
    }

    waitFor(window.performance.timing, "loadEventEnd", 500, () => {
        pageLoadTime.calculate();
        pageLoadTime.updateStoredTimes();
        pageLoadTime.track();
    });

    waitFor(window.performance.timing, "domComplete", 200, () => {
        renderTime.calculate();
        renderTime.updateStoredTimes();
        renderTime.track();
    });

    session.refresh();
</script>
