<header class="site-header">
    <div class="wrapper">
        <nav class="site-nav">
            <ul>
                {% for page in site.pages %}
                    {% if page.title %}
                        <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul> 
        </nav>
        <div class="site-title">
            <h1>
                <a class="site-home-link" href="{{ site.baseurl }}/"><span class="name">Andrea</span> <span class="surname">Verlicchi</span></a>
            </h1>
            <h2 class="site-subtitle">{{ site.subtitle }}</h2>
        </div>
    </div>
</header>