<header class="site-header">
    <div class="wrapper">
        <div class="site-title">
            <h1 lang="it">
                <a class="site-home-link" href="{{ site.baseurl }}/">
                    <span class="name">Andrea</span> <span class="surname">Verlicchi</span>
                </a>
            </h1>
            <p class="site-subtitle">{{ site.subtitle }}</p>
        </div>
        <!--<nav class="site-nav">

                {% for page in site.pages %}
                    {% if page.title %}
                        <a class="site-nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    {% endif %}
                {% endfor %}

        </nav>-->
    </div>
</header>