<section class="post-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
    <h2 class="post-author-title">About me</h2>
    <img class="lazy post-author-image" alt="Andrea Verlicchi's face" width="100" height="100" data-src="https://secure.gravatar.com/avatar/a175bc6ffa39da4513620869709c0fcb?s=100"
        data-srcset="https://secure.gravatar.com/avatar/a175bc6ffa39da4513620869709c0fcb?s=100 1x, https://secure.gravatar.com/avatar/a175bc6ffa39da4513620869709c0fcb?s=250?s=200 2x">
    <p class="post-author-bio">
        I love to craft websites with the user experience at the center of every detail. 
        I'm a father of two, a fan of GitHub and the proud writer of this tech blog. 
        I also occasionally speak at front-end conferences.
        <a href="/about/">More &rarr;</a>
    </p>
</section>