<footer class="post-footer">
    <h2 class="post-author">About the author</h2>

    <img alt="Andrea Verlicchi's face" width="100" src="http://www.gravatar.com/avatar/a175bc6ffa39da4513620869709c0fcb?s=295"
        srcset="http://www.gravatar.com/avatar/a175bc6ffa39da4513620869709c0fcb?s=295 295w, http://www.gravatar.com/avatar/a175bc6ffa39da4513620869709c0fcb?s=590 590w"
        sizes="100px" style="float: left; margin-right: 20px">
    <p class="post-author-bio">Front-end architect at <a href="https://www.ynap.com">YNAP</a>, Andrea loves to write code to craft websites, optimize
        the user experience, and he's a fan of GitHub. <a href="/about">Read more</a></p>
</footer>