/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr, table,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, table,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: $spacing-unit * 2;
}

h2:first-of-type {
    margin-top: 0;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    ///
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;

    li & {
        margin-top: 0;
        margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4 {
    font-weight: 700;
    .site-header & {
        font-weight: 400;
    }
}

h4 {
    font-size: $base-font-size * 1.0;
    line-height: $base-line-height * 1.0;
}
h3 {
    font-size: $base-font-size * 1.25;
    line-height: $base-line-height * 1.1;
}
h2 {
    font-size: $base-font-size * 1.5;
    line-height: $base-line-height * 1.2;
}
h1 {
    font-size: $base-font-size * 1.9;
    line-height: $base-line-height * 1.4;
}

/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;
    background-image: linear-gradient(to bottom, currentColor, currentColor);
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 90%;

    &:hover {
        color: $link-color-hover;
    }

    .site-header &,
    .site-footer & {
        text-shadow: none;
        background-image: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    //font-style: regular;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    border: 1px solid $grey-color-light;
    border-radius: .2em;
}

code {
    padding: 0 .2em;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid $tables-border-color;
    padding: .3em;
    vertical-align: top;
    font-size: 90%;
}
th {
    text-align: left;
    background-color: $grey-color-light;
    //color: white;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }

}
