$brand-color: #d90009;
$brand-color--light15: lighten($brand-color, 15%);
$brand-color--dark15: darken($brand-color, 15%);
$brand-color--dark30: darken($brand-color, 30%);

$alternative-color: #1170a6;
$alternative-color--light15: lighten($alternative-color, 15%);
$alternative-color--light30: lighten($alternative-color, 30%);
$alternative-color--light55: lighten($alternative-color, 55%);

$brand-darkmode-color: #FF27A6;
$brand-darkmode-color--dark30: darken($brand-darkmode-color, 30%);

$alternative-darkmode-color: #6B40FF;
$alternative-darkmode-color--light15: lighten($alternative-darkmode-color, 15%);
$alternative-darkmode-color--light30: lighten($alternative-darkmode-color, 30%);
$alternative-darkmode-color--light55: lighten($alternative-darkmode-color, 55%);

$grey-color:       #828282;
$grey-color--light40: lighten($grey-color, 40%);
$grey-color--dark15:  darken($grey-color, 15%);
$grey-color--dark25:  darken($grey-color, 25%);

$white-color: #fdfdfd;

:root {
  --base__background-color: #{$white-color};
  --base__color: #111;
  --post-meta__color: #{$grey-color};
  --link__color: #{$alternative-color};
  --special-link__color: #{$brand-color};
  --cta__color: #{$alternative-color};
  --cta__color--hover: #{$alternative-color};
  --cta__border-color: #{$alternative-color};
  --cta__border-color--hover: #{$alternative-color};
  --cta__bg-color: #{$white-color};;
  --cta__bg-color--hover: #{$alternative-color--light55};
  --headfoot__background-color: #222;
  --headfoot__border-color: #{$brand-color};
  --headfoot__link-color: #{$brand-color--light15};
  --headfoot__text-color: #{$white-color};;
  --site-title__color: #{$brand-color--light15};
  --blockquote__border-color: #{$alternative-color};
  --blockquote__bg-color: #{$grey-color--light40};
  --table__border-color: #{$grey-color};
  --table-header__bg-color: #{$grey-color--light40};
  --inline-code__bg-color: #{$grey-color--light40};
  --menubutton__bg-color: #333;
  --menubutton__border-color: #{$grey-color--dark15};
  --menubutton__fill-color: #{$white-color};
  --icon__fill-color: #{$grey-color};
  --coffee-bar--color: #{$brand-color--dark15};

  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    --base__background-color: #020202;
    --base__color: #eee;
    --link__color: #{$alternative-darkmode-color--light15};
    --special-link__color: #{$brand-darkmode-color};
    --headfoot__text-color: #eee;
    --headfoot__border-color: #{$brand-darkmode-color--dark30};
    --headfoot__link-color: #{$alternative-darkmode-color--light15};
    --site-title__color: #{$brand-darkmode-color};
    --cta__color: #{$alternative-darkmode-color--light15};
    --cta__color--hover: #{$alternative-darkmode-color--light30};
    --cta__border-color: #{$alternative-darkmode-color};
    --cta__border-color--hover: #{$alternative-darkmode-color--light15};
    --cta__bg-color: #020202;
    --cta__bg-color--hover: #222;
    --blockquote__bg-color: #{$grey-color--dark25};
    --blockquote__border-color: #{$alternative-darkmode-color--light15};
    --inline-code__bg-color: #{$grey-color--dark25};
    --table-header__bg-color: #{$grey-color--dark25};
    --coffee-bar--color: #{$brand-darkmode-color--dark30};
  }
}
