$brand-color: #d90009;
$brand-color--light15: lighten($brand-color, 15%);
$alternative-color: #1170a6;
$alternative-color--light15: lighten($alternative-color, 15%);

:root {
  --background-color: #fdfdfd;
  --text-color: #111;
  --text-color-headfoot: #fff;
  --link-color: #{$alternative-color};
  --link-color-headfoot: #{$brand-color--light15};
  --site-title-color: #{$brand-color--light15};
  --cta-color: #{$alternative-color};
  --cta-color--hover: #{$alternative-color};
  --cta-border-color: #{$alternative-color};
  --cta-bg-color: white;
  --cta-bg-color-hover: #111;
  --blockquote-border-color: #{$alternative-color};
  --background-color-headfoot: black;

  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    --background-color: #020202;
    --text-color: #eee;
    --text-color-headfoot: #eee;
    --link-color: #{$alternative-color--light15};
    --cta-color: #{$alternative-color--light15};
    --cta-bg-color: #111;
  
    --blockquote-border-color: #{$alternative-color--light15};
  }
}
