@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

@font-face{
	font-family: 'Brandon';
	src:url(../fonts/Brandon_txt_reg-webfont-9dda42bc452d60e586ece0fb57ad1c0f02417cb1dab483290aab760fa04ca84b.woff2) format("woff2"),
		url(../fonts/Brandon_txt_reg-webfont-4a6ef3c8cbf0f9c07e56b9c736cb16743f52371ec25286cbcecf8552a7951d42.woff) format("woff");
		font-weight: 400;
		font-style: normal
}
/*
@font-face{
	font-family: 'Brandon';
	src:url(../fonts/Brandon_txt_med-webfont-9370fe3938793e33471207eb9c41dadcd97cffac905848708a004d9a316d1948.woff2) format("woff2"),
		url(../fonts/Brandon_txt_med-webfont-040bb0ae25ad794ffa8078f9da28dc96d6386ae95b34fd1e26b91574555133da.woff) format("woff");
		font-weight: 700;
		font-style: normal
}
*/