/**
 * Site footer
 */

 .site-footer {
	flex-shrink: 0;
	background-color: var(--headfoot__background-color);
	border-top: 5px solid var(--headfoot__border-color);
	padding: $spacing-unit/2 0;
	color: var(--headfoot__text-color);
	a {
		color: var(--headfoot__link-color);
	}
}

.footer-heading {
	@include relative-font-size(1.125);
	margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
	list-style: none;
	margin-left: 0;
}

.social-media-list {
	a {
		text-decoration: none;
	}
}
