/**
 * Site footer
 */

 .site-footer {
	flex-shrink: 0;
	background-color: var(--background-color-headfoot);
	border-top: 5px solid $brand-color;
	padding: $spacing-unit/2 0;
	color: var(--text-color-headfoot);
	a {
		color: var(--link-color-headfoot);
	}
}

.footer-heading {
	@include relative-font-size(1.125);
	margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
	list-style: none;
	margin-left: 0;
}

.social-media-list {
	a {
		text-decoration: none;
	}
}
