/**
 * Site header
 */
.site-header {
    background: $toolbar-background-color;
    border-bottom: 5px solid $brand-color;
    min-height: 56px;
    color: $text-color-on-dark;

    h1, p {
        margin: 0
    }
}

/**
 * Wrapper
 */
.wrapper {
    padding: $spacing-unit;
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
/*
    @include media-query($on-laptop) {
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
    */
}

.site-title {
    h1 {
        margin-bottom: $spacing-unit/2;
    }
}

.site-home-link {
    letter-spacing: -1px;
    display: inline-block;
    color: $brand-color;
    text-decoration: none;

    .name {
        color: white;
    }
    &,
    &:visited {
        color: $brand-color-on-dark;
    }

    span {
        position: relative;
    }
    span:after {
        content: '';
        position: absolute;
        top: 10%; left: 0; right: 0; bottom: 10%;
        z-index: 1;
        background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0) 50%);
        transition: opacity 0.3s;
    }

    &:focus,
    &:hover {
        span:after {
            opacity: 0;
        }
    }

}

/*.site-nav {
    font-size: $base-font-size*.7;
    text-transform: uppercase;

    @include media-query($on-palm) {
        align-self: center;
    }

    &-link{
        display: inline-block;
        padding: $spacing-unit/4 $spacing-unit/2;
        background-color: $brand-color;
        color: $text-color-on-dark;
        //margin-left: $spacing-unit / 6;
        border-radius: $spacing-unit/4;
        text-decoration: none;
    }

    ul {
        margin: 0;
        list-style-type: none;
    }

}
*/



/**
 * Site footer
 */
.site-footer {
    background-color: $toolbar-background-color;
    border-top: 5px solid $brand-color;
    padding: $spacing-unit/2 0;
    color: $text-color-on-dark;
    a {
        color: $brand-color-on-dark;
    }

    .text {
        padding-left: $spacing-unit/2;
        border-left: 2px solid #BBBDC0;
        float: right;
        width: calc(45% - (#{$spacing-unit} / 2));

        @include media-query($on-palm) {
            width: auto;
            float: none;
            border: none;
            padding-left: 0;
        }
    }

    .wrapper {
        @extend %clearfix;
    }
}

.contact-lists {
    display: flex;
}

.contact-list--social {
    margin-right: $spacing-unit;
}

.contact-list {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    li {
        margin-bottom: .33em;
    }
    a {
        position: relative;
        margin-left: 25px;
    }
    .icon {
        position: absolute;
        margin-right: .2em;
        top: -2px;
        left: -25px;
        > svg path {
            fill: $text-color;
        }
        vertical-align: baseline;
    }
    a:hover {
        .icon {
            > svg path {
                fill: currentColor;
            }
        }
    }
}

/**
 * Page content
 */
.page-content {
    .intro {
        margin-bottom: $spacing-unit;
    }
    a {
        background-image: linear-gradient(to bottom, currentColor, currentColor);
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        background-repeat: no-repeat;
        background-size: calc(100% - .5em) 1px;
        background-position: center 90%;
        transition: all 0.1s;

        &:focus,
        &:hover {
            background-color: $link-background-on-hover;
            animation: linkHover .5s ease-out alternate infinite;
            //background-size: 100% 1px;
            //background-position: center calc(90% + 1px);
        }
    }
}

.post-list {
    margin-left: 0;
    list-style: none;
}

.post-list-title {
    margin-bottom: $spacing-unit / 2;
}

.post-meta {
    color: $grey-color;
}

.post-link {
    color: $brand-color;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    color: $brand-color;
    margin-top: 0;
}

.post-content {
    margin-bottom: $spacing-unit;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.pagination-pageNumber {
    flex-grow: 1;
}

.pagination-previous {
    margin-right: $spacing-unit;
}
