/**
 * Site header
 */

html {
  height: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.header-coffee {
  color: white;
  background-color: var(
    --coffee-bar--color
  );
  font-family: sans-serif;
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 15px;

  &-inner {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    padding: 5px 13px;
    margin: 0 auto;
  }
  &-cta {
    a {
      text-decoration: underline;
      color: white;
    }
  }
}

.site-header {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
  background: var(
    --headfoot__background-color
  );
  min-height: $spacing-unit * 1.865;
  color: var(--headfoot__text-color);
  // Positioning context for the mobile navigation icon -- and the contact menu
  .wrapper {
    position: relative;
  }
}

.site-title {
  font-family: $title-font-family;
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height *
    $base-font-size * 2.25;
  margin-bottom: 0;
  text-decoration: none;
  .name {
    color: white;
  }
  &,
  &:visited {
    color: var(--site-title__color);
  }
  &:focus,
  &:hover {
    text-decoration: none;
    span:after {
      opacity: 0;
    }
  }
}

.site-nav {
  line-height: $base-line-height *
    $base-font-size * 2.25;
  position: absolute;
  top: 3px;
  right: $spacing-unit / 2;
  z-index: 1;
  transform: translate3d(0, 0, 0); // FIX FOR SAFARI's STACKING CONTEXT
  .nav-trigger {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  .page-link {
    text-decoration: none;
    color: var(--headfoot__link-color);
    line-height: $base-line-height;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @include media-query($on-palm) {
    top: $spacing-unit / 2;
    background-color: var(
      --menubutton__bg-color
    );
    border: 1px solid
      var(--menubutton__border-color);
    border-radius: 5px;
    text-align: right;
    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      > svg path {
        fill: var(
          --menubutton__fill-color
        );
      }
    }
    input ~ .trigger {
      clear: both;
      display: none;
    }
    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }
    .page-link {
      display: block;
      padding: 5px 10px;
      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Page content
 */

.page-content {
  flex-grow: 1;
  padding: $spacing-unit 0;
}
