/**
 * Pages
 */

.about-face {
  &__spacer {
    position: relative;
    background-color: #d9cbbe;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 414px) {
  .about-face {
    &__spacer {
      padding-bottom: 133.37662%;
    }
  }
}

@media (min-width: 415px) {
  .about-face {
    &__spacer {
      width: 375px;
      height: 500px;
    }
    figcaption {
      width: 375px;
    }
  }
}

@media (min-width: 620px) {
  .about-face {
    float:left;
    margin-right: 26px;
    width: 250px;
    &__spacer {
      width: 250px;
      height: 333px;
    }
    figcaption {
      width: 250px;
    }
  }
}
