/**
 * Posts
 */

.post {

    // LINKS INSIDE PARAGRAPHS, BOTH POST AND POST LIST 

    &-list p a,
    p > a {
        background-image: linear-gradient(to top, transparent 10%, currentColor 11%, currentColor 12%, transparent 13%);
    }

    &-image {
        width: 100%;
        height: auto;
    }

    &-cta {
        display: inline-block;
        color: $alternative-color;
        border: 1px solid $alternative-color;
        background: white;
        cursor: pointer;
        padding: $spacing-unit/4 $spacing-unit/2;
        border-radius: 5px;
        @include relative-font-size(0.9);
        &:hover {
            color: white;
            background: $alternative-color;
        }
    }

    // POST LIST - HOME 
    &-list {
        margin-left: 0;
        list-style: none;

        // LINK TO DETAIL PAGE 
        &-link {
            line-height: 1.2;
            color: $brand-color;
            margin-bottom: $spacing-unit/2;
            letter-spacing: -1px;
        }
        &-intro {
            margin-bottom: $spacing-unit/1.5;
        }
        &-title {
            line-height: 1.2;
            margin-bottom: $spacing-unit/3;
        }
        > article {
            margin-bottom: 32px;
        }
    }

    // SINGLE POST - DETAIL 

    &-title {
        @include relative-font-size(2.25);
        color: $brand-color;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 0.9;
    }
    &-header {
        margin-bottom: $spacing-unit;
    }
    &-link {
        display: block;
        @include relative-font-size(1.5);
    }
    &-meta {
        @include relative-font-size(0.9);
        color: $grey-color;
    } 
    
    // POST CONTENT 

    &-content {
        margin-bottom: $spacing-unit;
        p {
            margin: $spacing-unit 0;
        }
        h2 {
            //text-transform: uppercase;
            @include relative-font-size(2);
            line-height: 1.1;
            margin-top: $spacing-unit*1.2;
            @include relative-font-size(1.75);
        }
    }


    &-back {
        &--top {
            margin-bottom: $spacing-unit/1.5;
        }
    }
}
