/**
 * Posts
 */

.post {

    // LINKS INSIDE PARAGRAPHS, BOTH POST AND POST LIST 

    figcaption {
        text-align: center;
        margin-top: $spacing-unit/4;
        color: var(--post-meta__color);
    }
    
    // POST CONTENT 

    &-content {
        h3 {
            margin-top: $spacing-unit*1.1;
            line-height: 1.2;
            @include relative-font-size(1.375);
        }
    }

    &-footer {
        &-navbar {
            display: flex;
            justify-content: space-between;
            margin-top: $spacing-unit;
        }
    }

    &-coffee {
        &-cta {
            margin-bottom: $spacing-unit;
        }
    }

    &-author {
        &-image {
            float: left; 
            margin-right: $spacing-unit/2;
        }
    }

    .noShare &-share {
        display: none;
    }
}