/**
 * Posts
 */
.post-title,
.post-link {
    color: $brand-color;
}
.post-link {
    &:visited {
        color: darken($brand-color, 10%);
    }
}

.post-list > article {
    margin-bottom: $spacing-unit;
}