table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: $spacing-unit/2;
}

td,
th {
    border: 1px solid var(--table__border-color);
    padding: 0.3em;
    vertical-align: top;
    font-size: 90%;
}

th {
    text-align: left;
    background-color: var(--table-header__bg-color);
}