// Space
$spacing-unit:       26px;

// Fonts
$base-font-family: "Merriweather", serif;
$code-font-family: "JetBrainsMono", monospace;
$title-font-family: "Roboto", sans-serif;
$base-font-size:   18px;
$base-font-weight: 400 !default;
$base-line-height: 1.8 !default;
$small-font-size:  $base-font-size * 0.775 !default;

// Width of the content area
$content-width:    600px;

// MQ Breakpoints
$on-palm:          550px;