
/*
075C8C
1170A6
D90009
EBE500
8C0E13
*/

// Space
$spacing-unit:       26px;

// Fonts
$base-font-family:   Brandon, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:     18px;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;
$small-font-size:  $base-font-size * 0.875 !default;

// Colors
$toolbar-background-color: black;
$text-color-on-dark:       #FFF;
$text-color:               #111;
$background-color:         #fdfdfd;
$brand-color:              #D90009;
$brand-color-on-dark:      lighten($brand-color, 15%);

$link-color:                   #1170A6;
$link-color-on-dark:           lighten($link-color, 15%);
$link-background-on-hover:     #fffd9f;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 15%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$tables-border-color:    $grey-color;