.texture {
	display:none;
}

.pageSection h1 span {
	background: none;
}

.ie6 nav {
	background: #666;
}

#siteHeader {
	background: none;
}

#slime {
	background: url(../img/bgs/slimeGreen.gif) no-repeat center center;
}

#logo {
	background: url(../img/logos/tripleDare.gif) no-repeat center center;
}

#obstacles ul,
#obstacles li {
	width:100%;
}

.ie6 #obstacles li {
	margin-right:0;
	float:left;
	width:49%;
}

#obstacles .button {
	display:none;
}

#obstacles .button .rc { display:none }

#obstacles figure {
	position:static;
	display:block;
	height:auto; width:auto;
}
#obstacles .wheel figure img,
#obstacles .wringer figure img {
	margin:0 auto;
}
#obstacles figure img {
	width: auto; height: auto; 
	margin:0 auto;
	display:block;
	left:0; top:0;
}

#obstacles figcaption {
	background:url(../img/bgs/slimeGreenSmall.gif) no-repeat center center;
}

.no-opacity #obstacles figcaption {
	display:block;
}

#beAContestant input {
	background-image:none;
	background-color:#fe6336;
	border:1px 0;
}

#beAContestant button {
	background: url(../img/bgs/slimeGreenTiny.gif) no-repeat center center;
}