body {
	background-color:#000;
	font-family:"Trebuchet MS", Tahoma, sans-serif;
	color:white;
	font-size:76%;
	}

h1 {
	font-size:130%;
	}

.leftLeft {
	float:left;
	}
	
.clearer {
	clear:both;
	}
	
.theimage {
	display:block;
	margin:10px 0 0 0;
	}
	
.right {
	float:right;
	}