.tabellaNotaLaterale {
	float: right;
	width: 120px;
	margin-left: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;


}
.cellaNotaLaterale {
	padding-left: 8px;
}
.notaLaterale {
	float: right;
	width: 150px;
	margin-left: 8px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	padding-left: 8px;
	background-color: #FFFFCC;
	padding-top: 4px;
	padding-bottom: 6px;
	margin-right: 4px;
}
.buttonOnBlack {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #FFFFFF;
}
.divieto {
	cursor: crosshair;
}
