/* -----------------
DEFINIZIONI GENERALI
----------------- */

html,form {
	padding:0;
	margin:0}
h1 {
	margin:0 0 0.5em 0;
	font-size:150%;
	clear:both;
	padding:0;
	font-family:"Trebuchet MS", Tahoma, sans-serif}
a:link {
	color:#0066CC}
a:visited {
	color:#006699}
img {
	border:1px solid #CCCCCC;
	margin:1em 0}
body {
	font-size:76%;
	font-family:Tahoma, sans-serif;
	margin:0;
	padding:1em;
	background-color:#000000;
	line-height:1.5em;
	color:#FFFFFF}
p {
	margin:0;
	margin-bottom:0.5em}
	
/* parti della pagina */
div#didascalia {
	margin:1em 0}
	
/* others / utils */
.leftLeft {
	float:left;
	text-align:left}
.rightRight {
	float:right;
	text-align:right}
div.clearer{clear:both}